{% load static %}

  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="{% url 'index' %}"><em>Fizika</em> land</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Asosiy</a></li>
        <li><a href="#section2">Biz haqimizda</a></li>
        <li><a href="#section4">Laboratoriya ishlari</a></li>
        <li><a href="#section5">Video</a></li>
        <li><a href="#section6">Aloqa</a></li>
      </ul>
    </nav>
  </header>